<% if notice.present? %>
  <div class="alert alert-danger notice" role="alert">
    <%= notice %>
  </div>
<% end %>

<% if alert.present? %>
  <div class="alert alert-warning alert" role="alert">
    <%= alert %>
  </div>
<% end %>
